[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = {extras = ["pandas_on_spark"], version = "*"}
pandas = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
